<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%# From Unity %>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Tower Defense</title>
    <link rel="shortcut icon" href="/assets/TemplateData/favicon.ico">
    <script>
      var gameInstance = UnityLoader.instantiate("gameContainer", "<%= asset_path "TowerDefenceWebGL.json" %>", {onProgress: UnityProgress});
    </script>
    <%# end Unity Stuff %>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
  <body>

    <%= yield %>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
</body>
</html>
